$fonts: (
    montserrat: "Montserrat",
    roboto: "Roboto",
    kushan: "Kaushan Script"
);

@function getFont($key){
    @return map-get($fonts, $key);
}
@function getBreakPoint($key) {
    @return map-get($breakpoint, $key);
}
