.hero{
    padding-top: 68px;
    // outline: 1px solid red;
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 33px;
        
    }
    &__title{
        position: relative;

        height: 136px;
    }
    &__title--section{
        &:after{
            position: absolute;
            content: "";
            display: block;
            width: 60px;
            height: 4px;
            bottom: 0;
            left: 47%;

            background-color: getColor(red);
        }
    }
    &__item{
        width: 330px;
        height: 74px;
        position: relative;
        display: flex;
        &-title{
            text-transform: uppercase;
            color: getColor(dark);
            margin-bottom: 20px;
        } 
    }
    &__item:nth-child(1),&__item:nth-child(2),&__item:nth-child(4),&__item:nth-child(5){
        @include media ('xl'){
            margin-right: 70px;
        }
    }
    &__text{
        font-size: 15px;
        width: 310px;
        color: getColor(grey);
    }
}
.item__img{
    position: relative;
    top: -20px;
    margin-right: 20px;
}