.meetourteam{
	padding-top: 100px;

	&__text{
		text-align: center;
		margin: 85px 0 27px;
	}
	&__item{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
		&--img{
			margin-bottom: 30px;
		}
		&--person-name{
			margin-bottom: 11px;
		}
		// &--work-positi{}
		&--person-name,&--work-position{
			text-align: center;
}
	}
}
