// montserrat,roboto,kushan
body {
    font-family: getFont('montserrat'), sans-serif;
    font-size: 14px;
    font-weight: 400;
}
h2{
    text-align: center;
}
a:hover{
    color: getColor(red);
}
.hero__title--smalli{
    text-align: center;

}