// montserrat,roboto,kushan
body {
    font-family: getFont('montserrat'), sans-serif;
    font-size: 14px;
    font-weight: 400;
}
a:hover{
    color: getColor(red);
}
h2 , .hero__title--smalli{
    text-align: center;
    font-family: getFont("kushan");
    color: black;
}